[submodule "pdm/lib/pdm-crypt-module"]
	path = pdm/lib/pdm-crypt-module
	url = https://github.com/2042third/pdm-crypt-module.git
[submodule "pdm/lib/nativefiledialog-extended"]
	path = pdm/lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "pdm/lib/cryptoSQLite"]
	path = pdm/lib/cryptoSQLite
	url = https://github.com/2042Third/cryptoSQLite.git
